
@{
    ViewBag.Title = "Setting";
}
<form action="/Settings/Ayar" method="post">
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Günlük Sorulmasını istediğiniz soru sayısını giriniz</label>
        <input type="text" id="SoruSayi" name="SoruSayi" class="form-control form-control-lg"
               placeholder="10" />
    </div>
    <br />
    <div class="form-outline mb-4">
        <button type="submit" class="btn btn-success btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">
            Onayla
        </button>
    </div>
</form>
